.header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 150px;
  padding: 0.5rem 1rem;
  background: linear-gradient(rgba(114, 91, 83, 0.4), rgba(50, 25, 17, 0.6)),
    url(./assets/cover.jpg);
  background-size: cover;
  color: #fff;
  margin-bottom: 1rem;
}

.header-title-container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.header-title {
  font-size: 2rem;
  font-weight: normal;
}

.header-subtitle {
  font-size: 1rem;
  margin: 0;
}

.container {
  padding: 2rem;
  padding-top: 5rem;
}

.searchbox {
  border-radius: 8px;
  height: 64px;
  width: 100vw;
  bottom: 0;
  position: absolute;
  transform: translateY(50%);
}

.ais-SearchBox-form {
  max-width: 90%;
  height: 100%;
  margin: auto;
}

.ais-SearchBox-input {
  height: 100%;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  padding: 4px 48px 0 64px;
  font-family: Hind, Sans serif;
}

.ais-SearchBox-submit {
  left: 0;
  width: 64px;
  height: 100%;
  padding: 0 1rem 0 2rem;
  color: #2281ef;
  display: flex;
  align-items: center;
}

.ais-PoweredBy {
  position: absolute;
  transform: translateY(330%);
  bottom: 0;
}

.ais-Hits-list {
  margin-left: 0;
  display: grid;
  grid-gap: 2rem;
}

.ais-Hits-item {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

@media screen and (min-width: 680px) {
  .ais-PoweredBy {
    transform: translateY(50%);
    right: 0;
    margin-right: 10%;
  }

  .ais-Hits-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 930px) {
  .header {
    padding: 3rem;
  }

  .searchbox {
    position: relative;
    transform: translateY(0%);
  }

  .ais-SearchBox-form {
    width: 837px;
  }

  .ais-PoweredBy {
    bottom: calc(3rem + 32px);
    right: auto;
    margin-right: 0;
    transform: translate(calc(418px - 100px), 50%);
  }

  .ais-Hits-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }
}
